.secondary-header {
    padding-top: 6px;
    padding-bottom: 6px;
     background-image: image-set('/images/header/bgd/bgd-header.png' 1x, '/images/header/bgd/bgd-header@2x.png' 2x);
    background-position: right center;

    @include min-width('mac') {
        background-position: center;
        background-size: cover;
        padding-top: 16px;
        padding-bottom: 16px;
    }

    &__button-burger {
        position: relative;
        z-index: 9999;
    }

    &__btn-menu {
        position: relative;
        z-index: 9999;
    }

    &__list.mobile-open {
        top: -10px;
        padding: 80px 30px 30px;
        @include min-width('mac') {
            top: 0;
            padding: 60px 30px 30px;
        }
    }

    &__list.mobile-open ~ .secondary-header__authorization {
       position: relative;
       z-index: 9999;
    }
}