html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin-bottom: 0;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  padding: 0;
}
button,
button:active,
button:focus,
input,
input:active,
input:focus,
textarea,
textarea:active,
textarea:focus {
  outline: none;
  border: none;
}
ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style: none;
}

// Link
a {
  text-decoration: none;
  color: inherit;
}
body {
  margin-left: 0;
  margin-right: 0;
  font-family: "GeneralSans", sans-serif;
  color: $text-white;
  background-color: $background-main-color;
}
body.modal-open {
  overflow: hidden;
}
body.bg-scrolling-element-when-mobile-open {
  overflow: hidden;
}
section {
  padding: 30px 0px;

  @include min-width("mac") {
    padding: 40px 0px;
  }
}
img {
  display: block;
  width: 100%;
  height: auto;
}
.container {
  height: 100%;
  padding: 0px 16px;
  margin-left: auto;
  margin-right: auto;
  @media screen and (min-width: 480px) {
    max-width: 480px;
  }
  @include min-width("mac") {
    padding: 0px 30px;
    max-width: 1140px;
  }
}
button {
  background-color: transparent;
  margin: 0;
  padding: 0;
}
.title {
  font-weight: 600;
  font-size: 36px;
}

.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}


.backdrop {
  position: absolute;
  z-index: 3;
  inset: 0;
  background-color: transparent;
}