@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaFuturisCBold.ttf');
  font-weight: 700;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaFuturisC.ttf');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: 'Futura';
  src: url('../fonts/FuturaFuturisLightC.ttf');
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}

@font-face {
  font-family: 'Propaganda';
  src: url('../fonts/Propagan.ttf');
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
