$accent-color: #fdc538;
$bgd-color-red: #FF412A;
$bgd-color-header: #FCC538;;
$bgd-color-orange: #F47F00;
$bgd-color-testimonials: #1A1A1A;
$bgd-color-hover: #EF983A;
$text-descr: #a3a3a3;
$text-title-followUs: #070501;
$text-privacy: #676767;
$text-white: #ffffff;
$background-main-color: #000000;
$main-icon-color: #ffffff;
$timing-function: cubic-bezier(0.4, 0, 0.2, 1);
$main-duration: 250ms;

